<div class="form-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Login</h2>
        <p>Seja bem-vindo(a) de volta!</p>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Seu email" formControlName="email" required>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('email')?.errors?.['email']">Email inválido</mat-error>
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Sua senha" formControlName="senha" type="password" required>
            <mat-error *ngIf="loginForm.get('senha')?.errors?.['required']">Campo obrigatório</mat-error>
            <mat-error *ngIf="loginForm.get('senha')?.errors?.['minlength']">O mínimo são 8 caracteres</mat-error>
            <mat-icon matPrefix>key</mat-icon>
        </mat-form-field>
        <a routerLink="/recuperar-senha">Esqueci minha senha</a>
        <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Login</button>
        <span>ou</span>
        <button (click)="onLoginGoogle()" type="button" mat-raised-button color="warn">
            Entrar com o google
        </button>
    </form>
</div>