@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-wrapper {
    font-family: "Poppins", sans-serif;
    background: #f2f4f7;
}

.content {
    position: absolute;
    top: 55%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-content {
    margin-right: 5rem;
    align-items: center;
}

.name-content .logo {
    font-size: 4rem;
    color: #1877f2;
}

.name-content p {
    font-size: 1.02rem;
    font-weight: 450;
    margin-bottom: 5rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    outline: none;
    background: #fff;
    padding: 18rem 1rem;
    width: 500px;
    height: 510px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 40%), 0 8px 16px rgb(0 0 0 / 45%);
}

.mat-form-field{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;  
    padding: 0.5rem 1rem;
}

.form input {
    margin-inline: auto;
    text-align: center;
    padding: 0.8rem 0.2rem;
    margin-bottom: 0.05rem;
    font-size: 1rem;
}

.form a {
    margin-inline: 4rem;
    text-align: center;
    align-items: auto;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: #1877f2;
}

.form .btnLogin {
    margin-inline: auto;
    outline: none;
    border: none;
    padding: 0.07rem 8.1rem;
    border-radius: 0.2rem;
    font-size: 1.1rem;
}


.form .btnGoogle {
    margin-inline: auto;
    outline: none;
    border: none;
    line-height: 0.5rem;
    padding: 1rem 3.3rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}

.form .btnFacebook {
    margin-inline: auto;
    outline: none;
    border: none;
    line-height: 0.5rem;
    padding: 1rem 2.8rem;
    border-radius: 0.2rem;
    font-size: 1rem;
}

.invalid-feedback {
    max-width: 700px;
    padding: 50px;
    transform-origin: left top;
    -webkit-transform-origin: left top;
  
}

.form .create-account {
    margin-inline: auto;
    outline: none;
    border: none;
    background: #06b909;
    padding: 0.6rem 6.6rem;
    border-radius: 0.2rem;
    font-size: 1rem;
    color: #fff;
}

.form .create-account:hover {
    background: #03ad06;
    cursor: pointer;
}

@media (max-width: 500px) {
    html {
        font-size: 60%;
    }

    .form-wrapper {
        width: 100%;
        margin: 0;
        text-align: center;
      }

    .name-content {
        margin: 0;
        text-align: center;
    }

    .form {
        width: 300px;
        height: fit-content;
    }

    .form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .form .btnLogin {
        font-size: 1.5rem;
    }

    .form a {
        font-size: 1.5rem;
    }

    .form .create-account {
        font-size: 1.5rem;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 501px) and (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .form-wrapper {
        width: 100%;
        margin: 0;
        text-align: center;
      }

    .name-content {
        margin: 0;
        text-align: center;
    }

    .form {
        width: 300px;
        height: fit-content;
    }

    .form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .form .btnLogin {
        font-size: 1.5rem;
    }

    .form a {
        font-size: 1.5rem;
    }

    .form .create-account {
        font-size: 1.5rem;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }

    .form-wrapper {
        width: 100%;
        margin: 0;
        text-align: center;
      }

    .name-content {
        margin: 0;
        text-align: center;
    }

    .form {
        width: 300px;
        height: fit-content;
    }

    .form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

    .form .btnLogin {
        font-size: 1.5rem;
    }

    .form a {
        font-size: 1.5rem;
    }

    .form .create-account {
        font-size: 1.5rem;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .form-wrapper {
        height: 90vmax;
    }
}