.fab-wrapper {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 999;
}

.example-header-image {
  background-image: url('https://jsl-online.com/wp-content/uploads/2017/01/placeholder-user.png');
  background-size: cover;
}