<div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Todos">
      <div *ngIf="allDiarios$ | async as diarios; else loading">
        <mat-card *ngFor="let diario of diarios" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
            <mat-card-subtitle>{{ diario.usuarioNick }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            [src]="diario.imagem"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h2>{{ diario.titulo }}</h2>
            <small>{{ diario.data | date }} | {{ diario.local }}</small>
            <p>{{ diario.corpo }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="diario.id" mat-icon-button color="primary">
              <mat-icon>visibility</mat-icon>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Meus diários">
      <div *ngIf="meusDiarios$ | async as diarios; else loading">
        <mat-card *ngFor="let diario of diarios" class="example-card">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
            <mat-card-subtitle>{{ diario.usuarioNick }}</mat-card-subtitle>
          </mat-card-header>
          <img
            mat-card-image
            [src]="diario.imagem"
            alt="Photo of a Shiba Inu"
          />
          <mat-card-content>
            <h2>{{ diario.titulo }}</h2>
            <small>{{ diario.data | date }} | {{ diario.local }}</small>
            <p>{{ diario.corpo }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button
              (click)="onClickEdit(diario)"
              mat-icon-button
              color="primary"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              (click)="onClickDelete(diario)"
              mat-icon-button
              color="warn"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

<ng-template #loading>
  <app-loader label="Carregando todos os diários..."></app-loader>
</ng-template>

<div class="fab-wrapper">
  <button (click)="onClickAdd()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
  </button>
</div>
