<main>
  <div class="container" id="profile-upper" *ngIf="user$ | async as user">
    <div id="profile-banner-image">
      <img src="assets/img/capa.jpg" alt="Banner image" />
    </div>

    <div id="profile-d">
      <div id="profile-pic">
        <img [src]="user.photoURL" (click)="inputField.click()" />

        <input #inputField hidden type="file" (change)="uploadImage($event, user)" />
      </div>
      <div style="text-shadow: 4px 4px 5px #000" *ngIf="users$ | async as user" id="u-name">{{ user.nome }}</div>
    </div>

    <div id="black-grd"></div>
  </div>

  <div id="main-content" *ngIf="user$ | async as user">
    <div class="tb">
      <div class="td" id="l-col">
        <div class="l-cnt">
          <div class="cnt-label">
            <i class="l-i" id="l-i-i"></i>
            <span>{{ user.email }}</span>
            <div class="lb-action"><i class="material-icons">edit</i></div>
          </div>
        </div>

        <div class="l-cnt l-mrg">
          <div class="cnt-label">
            <i class="l-i" id="l-i-p"></i>
            <span>Fotos</span>
            <div class="lb-action" id="b-i">
              <i class="material-icons">keyboard_arrow_down</i>
            </div>
          </div>

          <div id="photos" *ngIf="meusDiarios$ | async as diarios; else loading">
            <div class="" *ngFor="let diario of diarios">
              <div class="col" *ngIf="diario.imagens.length > 0">
                <img (click)="onClickDetail(diario)" [src]="diario.imagens[0]" alt="" class="gridesquerda" />
              </div>
            </div>
          </div>
        </div>

        <div id="t-box">
          <a target="_blank" routerLink="/politica-privacidade" >Termo de Privacidade</a>
        </div>
      </div>

      <div class="td" id="m-col">
        <div class="m-mrg" id="composer">
          <div id="c-tabs-cvr">
            <div class="tb" id="c-tabs">
              <div class="td active">
                <button>
                  <i class="material-icons">subject</i><span>Publicações</span>
                </button>
              </div>

              <button (click)="onClickAdd()">
                <div class="td">
                  <i class="material-icons">camera_enhance</i>
                  <span>Enviar Diário</span>
                </div>
              </button>
            </div>
          </div>
          <!-- <div id="c-c-main">
            <div class="tb">
              <div class="td" id="p-c-i" *ngIf="user$ | async as user">
                <img [src]="user.photoURL" alt="Profile pic" />
              </div>
              <div class="td" id="c-inp">
                <input type="text" placeholder="Publique!" />
              </div>
            </div>
            <div id="insert_emoji">
              <i class="material-icons">insert_emoticon</i>
            </div>
          </div> -->
        </div>

        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="TIMELINE">
            <ng-template mat-tab-label>
              <div class="td active">
                <span>Timeline</span>
              </div>
            </ng-template>

            <div *ngIf="allDiarios$ | async as diarios; else loading">
              <mat-card *ngFor="let diario of diarios" class="example-card">
                <mat-card-header (click)="onClickDetail(diario)">
                  <div mat-card-avatar class="example-header-image divFotoPerfil">
                    <img class="fotoPerfil" mat-card-image [src]="
                        diario.imagemprofile ?? 'assets/img/placeholder.png'
                      " alt="Imagem do perfil" />
                  </div>
                  <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
                  <mat-card-subtitle>{{
                    diario.usuarioNick
                    }}</mat-card-subtitle>
                </mat-card-header>
                <div>
                  <ngb-carousel *ngIf="diario.imagens.length > 1; else imagemUnica">
                    <ng-template ngbSlide *ngFor="let imagem of diario.imagens">
                      <div class="picsum-img-wrapper">
                        <img (click)="onClickDetail(diario)" [src]="imagem" alt="Random first slide">
                      </div>
                    </ng-template>
                  </ngb-carousel>

                  <ng-template #imagemUnica>
                    <div *ngIf="diario.imagens.length == 1" class="picsum-img-wrapper">
                      <img (click)="onClickDetail(diario)" [src]="diario.imagens[0]" alt="Foto diário" />
                    </div>
                  </ng-template>
                </div>
                <div (click)="onClickDetail(diario)">

                  <h2>{{ diario.titulo }}</h2>
                  <p>{{ diario.corpo }}</p>

                  <small class="datadiario">{{ diario.data | date }} | {{ diario.local }}</small>
                </div>
              </mat-card>
            </div>
          </mat-tab>

          <mat-tab label="Meus diários" id="meudiarios">
            <div *ngIf="meusDiarios$ | async as diarios; else loading">
              <mat-card *ngFor="let diario of diarios" class="example-card2">
                <mat-card-header (click)="onClickDetail(diario)">
                  <div mat-card-avatar class="example-header-image divFotoPerfil">
                    <img class="fotoPerfil" mat-card-image [src]="
                        diario.imagemprofile ?? 'assets/img/placeholder.png'
                      " alt="Imagem do perfil" />
                  </div>
                  <mat-card-title>{{ diario.usuarioName }}</mat-card-title>
                  <mat-card-subtitle>{{
                    diario.usuarioNick
                    }}</mat-card-subtitle>
                </mat-card-header>
                <div>
                  <ngb-carousel *ngIf="diario.imagens.length > 1; else imagemUnica">
                    <ng-template ngbSlide *ngFor="let imagem of diario.imagens">
                      <div class="picsum-img-wrapper">
                        <img (click)="onClickDetail(diario)" [src]="imagem" alt="Random first slide">
                      </div>
                    </ng-template>
                  </ngb-carousel>

                  <ng-template #imagemUnica>
                    <div *ngIf="diario.imagens.length == 1" class="picsum-img-wrapper">
                      <img (click)="onClickDetail(diario)" [src]="diario.imagens[0]" alt="Foto diário" />
                    </div>
                  </ng-template>
                </div>
                <div (click)="onClickDetail(diario)">
                  <h2>{{ diario.titulo }}</h2>
                  <p>{{ diario.corpo }}</p>

                  <small class="datadiario">{{ diario.data | date }} | {{ diario.local }}</small>

                </div>
                <mat-card-actions>
                  <button (click)="onClickEdit(diario)" mat-icon-button color="primary">
                    <mat-icon matTooltip="Click para editar" matTooltipPosition="below" matTooltipShowDelay="1000">edit
                    </mat-icon>
                  </button>
                  <button (click)="onClickDelete(diario)" mat-icon-button color="warn">
                    <mat-icon matTooltip="Click para deletar" matTooltipPosition="below" matTooltipShowDelay="1000">
                      delete</mat-icon>
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-tab>
        </mat-tab-group>

        <div id="loading"><i></i></div>
      </div>
    </div>
  </div>
  <div id="device-bar-2"><i class="fab fa-apple"></i></div>
</main>

<div>
  <ng-template #loading>
    <app-loader label="Carregando todos os diários..."></app-loader>
  </ng-template>
</div>