.form-wrapper{
    width: 33%;
    margin-left: 33%;
    font-size: 15px;
    font-size: 15px;
    background-image: linear-gradient( 174.2deg,  rgb(230, 228, 255) 7.1%, rgb(238, 238, 246) 67.4% );
}

.cadastro{
    margin-left: 33%;
}