@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-wrapper {
    font-family: "Poppins", sans-serif;
    background: #f2f4f7;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flex-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.name-content {
    margin-right: 5rem;
}

.name-content .RecuperaSenha {
    font-size: 2.5rem;
    color: #1877f2;
}

.name-content .RecuperaSenha p {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 4rem;
}

.name-content .RecuperaSenha a {
    text-decoration: none;
    text-align: center;
    font-size: 0.7rem;
    padding: 0.01rem 1rem;
    color: #1877f2;
}

.form {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 4rem;
    height: 350px;
    width: 700px;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 30%);
}

.form input {
    outline: none;
    padding: 0.8rem 1rem;
    margin-bottom: 0.8rem;
    font-size: 1.1rem;
}

.form input:focus {
    border: 1.9px solid #1877f2;
}

@media (max-width: 500px) {
    html {
        font-size: 60%;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }

    .name-content {
        margin: 0;
        text-align: center;
    }

    .name-content .RecuperaSenha a {
        font-size: 1.5rem;
    }

    .form {
        width: 300px;
        height: fit-content;
    }

    .form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }

}

@media (min-width: 501px) and (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }

    .name-content {
        margin: 0;
        text-align: center;
    }

    .name-content .RecuperaSenha a {
        font-size: 1.5rem;
    }

    .form {
        width: 300px;
        height: fit-content;
    }

    .form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    html {
        font-size: 60%;
    }

    .flex-div {
        display: flex;
        flex-direction: column;
    }

    .name-content {
        margin: 0;
        text-align: center;
    }

    .name-content .RecuperaSenha a {
        font-size: 1.5rem;
    }

    .form {
        width: 300px;
        height: fit-content;
    }

    .form input {
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

@media (orientation: landscape) and (max-height: 500px) {
    .form-wrapper {
        height: 90vmax;
    }
}