<div *ngIf="diario$ | async as diario; else loading">
  <div *ngIf="diario.imagens.length > 0; else diarioSemImagem" class="container-dialog">
    <div class="div-carrossel">
      <ngb-carousel *ngIf="imagens.length > 1; else imagemUnica">
        <ng-template ngbSlide *ngFor="let imagem of imagens">
          <div class="picsum-img-wrapper">
            <img class="img-carrossel" [src]="imagem" alt="Random first slide">
          </div>
        </ng-template>
      </ngb-carousel>
      <ng-template #imagemUnica>
        <img class="img-carrossel" [src]="diario.imagens[0]" alt="Random first slide">
      </ng-template>
    </div>

    <div class="div-informacoes d-flex flex-column justify-content-between">
      <div class="informacoes-top">
        <div class="d-flex align-items-center flex-wrap">
          
          <img class="fotoPerfil" [src]="diario.imagemprofile ?? 'assets/img/placeholder.png'" alt="Imagem do perfil" />
          <div class="div-cabecalho-nome">
            <h5>{{diario.usuarioName}}</h5>
            <p>{{diario.usuarioNick}}</p>
          </div>
          <div class="align-self-start ms-auto">
            <button class="botaoFechar" mat-dialog-close mat-icon-button aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <div class="informacoes-center">
          <div class="d-flex flex-column justify-content-between">
            <div class="div-corpo d-block">
              <h3>{{diario.titulo}}</h3>
              <h6>{{diario.corpo}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="informacoes-bottom">
        <div class="div-corpo-bottom d-flex justify-content-between align-items-center">
          <div class="div-curtidas">
            <button (click)="onClickLike(diario)" mat-icon-button color="primary">
              <span *ngIf="diarioJaCurtido; else diarioNaoCurtido" class="material-symbols-outlined diarioCurtido">
                thumb_up
              </span>
              <ng-template #diarioNaoCurtido>
                <span class="material-symbols-outlined diarioNaoCurtido">
                  thumb_up
                </span>
              </ng-template>
            </button>
            <p class="curtidas d-inline">{{diario.usersLiked.length}} curtidas</p>
          </div>
          <div class="data-e-local curtidas">

            <p>{{ diario.data | date }}</p>
            <p>{{diario.local}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #diarioSemImagem>
    <div class="div-apenas-informacoes d-flex flex-column justify-content-between">
      <div class="informacoes-top">
        <div class="d-flex align-items-center flex-wrap">
          <img class="fotoPerfil" [src]="diario.imagemprofile ?? 'assets/img/placeholder.png'" alt="Imagem do perfil" />
          <div class="div-cabecalho-nome">
            <h5>{{diario.usuarioName}}</h5>
            <p>{{diario.usuarioNick}}</p>
          </div>
        </div>
        <div class="informacoes-center">
          <div class="d-flex flex-column justify-content-between">
            <div class="div-corpo d-block">
              <h3>{{diario.titulo}}</h3>
              <h6>{{diario.corpo}}</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="informacoes-bottom">
        <div class="div-corpo-bottom d-flex justify-content-between align-items-center">
          <div class="div-curtidas">
            <button (click)="onClickLike(diario)" mat-icon-button color="primary">
              <mat-icon *ngIf="diarioJaCurtido; else diarioNaoCurtido" class="material-symbols-outlined diarioCurtido">
                thumb_up
              </mat-icon>
              <ng-template #diarioNaoCurtido>
                <mat-icon class="material-symbols-outlined diarioNaoCurtido">
                  thumb_up
                </mat-icon>
              </ng-template>
            </button>
            <p class="curtidas d-inline">{{diario.usersLiked.length}} curtidas</p>
          </div>
          <div class="data-e-local curtidas">

            <p>{{ diario.data | date }}</p>
            <p>{{diario.local}}</p>
          </div>

        </div>
      </div>
    </div>
  </ng-template>

</div>

<ng-template #loading>
  <app-loader label="Carregando diário..."></app-loader>
</ng-template>