<div class="form-wrapper">
    <div class="content">
        <div class="flex-div">
            <div class="name-content">
                <h1 class="logo">Você precisa verificar seu E-mail</h1>
                <p>Obrigado(a) por se cadastrar no Diários-app<br>
                    Check o seu e-mail e não se esqueça de verificar caixa de spam</p>
                <div class="form">
                    <a mat-raised-button color="primary" routerLink="/login">
                        Ativei meu email
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>