<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div>
    <span *ngIf="totalPosts$ | async as total">
      Total de posts: {{ total }}
    </span>
  </div>
  <div>
    <span *ngIf="totalUsers$ | async as total">
      Total de Usuários: {{ total }}
    </span>
  </div>
  <mat-grid-list cols="3" rowHeight="400px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div [ngSwitch]="card.id">
            <app-week-posts *ngSwitchCase="'week-posts'"></app-week-posts>
            <app-common-locals *ngSwitchCase="'common-locals'"></app-common-locals>
            <app-last-posts *ngSwitchCase="'last-posts'"></app-last-posts>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
