
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-wrapper {
  padding: 16px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.diario-add {
  display: flex;
  align-items: center;
  justify-content: center;
}

.diario-add mat-form-field {
  width: 100%;
}

.diarioNaoCurtido {
  font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

.diarioCurtido {
  font-variation-settings:
      'FILL' 1,
      'wght' 400,
      'GRAD' 0,
      'opsz' 48
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
